<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Global (Kraków) Android Dev Camp 2012</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/ribbon.css" rel="stylesheet">
    <link href="/css/android_dev.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <script>$('#navbar').scrollspy()</script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/img/favicon.ico">
  </head>

  <body data-spy="scroll" id="start">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Global (<strong>Kraków</strong>) Android Dev Camp 2012</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="#start">onCreate()</a>
              </li>
              <li>
                <a href="#sponsors">sponsors.thank()</a>
              </li>
              <li>
                <a href="#agenda">agenda.show()</a>
              </li>
              <li>
                <a href="#location">location.get()</a>
              </li>
              <li>
                <a href="#register">onRegister()</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="/img/logo_320px.png" alt="logo" class="logo"/>
        <h1>Let's code some Android stuff!</h1>
        <h2>@ Sobota, 18 Lutego 2012</h2>
        <p>
          Innymi słowy - cały dzień wspólnego programowania na Androida z innymi pasjonatami tej platformy.
        </p>
        <p>
          Android Dev Camp jest okazją aby wymienić się doświadczeniami z innymi programistami Androida, lub dopiero takowym zostać.
          Jedyne czego potrzebujesz to <strong>notebook z zainstalowanym Android SDK</strong> oraz odrobina motywacji!
        </p>
        <p>
          <strong>Jak będzie przebiegać event?</strong><br>
          Podczas spotkania dobierzemy się w pary lub większe grupki oraz będziemy opracowywać aplikacje na Androida, fixy do znanych Androidowych bibliotek Open Source,
          lub tworzyć własne nowe biblioteki. To ty wybierasz nad czym chcesz pracować, poprzez albo zaproponowanie swojego tematu, albo dołączenie do właśnie powstającego zespołu. Dzień spędzimy na wspólnych próbach implementacji wspomnianych projektów. A w razie potrzeby znajdzie się z pewnością nie jeden doświadczony programista mogący posłużyć radą. Zainteresowani będą mogli posłuchać krótkich prezentacji o Androidzie - wszystkim natomiast zaproponujemy darmową pizzę oraz otwarte umysły chętne wymianie wiedzy i doświadczeń. Na koniec dnia, każdy team przedstawi swój projekt oraz na drodze głosowania zostaną wybrani najlepsi - których obdarzymy małymi nagrodami.
        </p>
        <p><a class="btn btn-success btn-large frcn" href="#register">Zarejestruj się &raquo;</a></p>
      </div>

      {{content}}

      <hr>

      <footer class="center">
      <p>
        <em>Android is a trademark of Google Inc.</em>
      </p>
      <p>
        Site by <a href="http://www.blog.project13.pl">Konrad Malawski</a> </br>
        <a class="copyleft" href="http://www.java.pl">Polish Java User Group</a> 2012
      </p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

    <a href="http://github.com/ktoso/"><img style="z-index:100000; position: fixed; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>

  </body>
</html>

